$navbar-background-color: #000;
$navbar-item-color: #fff;
$navbar-item-hover-color: #000;
$navbar-item-hover-background-color: #d20841;
$navbar-burger-color: #fff;

$footer-background-color: #000;

$section-padding: 0 1.5rem 3rem;

$modal-card-head-background-color: #eee;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
